
*{
  font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3{
  color: white;
}

  nav{
  width: 100%;
  height: 4.4rem;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  padding-left: 3rem;
  background-color: #24242d;
  position: fixed;
  top: 0;
}
nav h1{
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

main{
  display: flex;
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  background-color: #363644;
}
main >*{
  padding-top: 4.4rem;
}
main .menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28rem;
  /* border-right: 2px solid white; */
  height: 100%;
  overflow: auto;
  padding-bottom: 3rem;
}
main .content{
  width: calc(100% - 20rem);
  height: 100%;
  overflow: auto;
  background-color: #3b3b4d;
  padding: 9.4rem 5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.menu::-webkit-scrollbar, .content::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
}

.menu::-webkit-scrollbar, .content::-webkit-scrollbar {
  background-color: transparent; /* Hide the thumb */
}
.menu .alignmentC{
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  width: 85%;
  /* height: 6rem; */
  /* border: 2px solid white; */
  background-color:#64647d;
  border-radius: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu >h2{
  width: 85%;
  text-align: center;
  margin-top: 1.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid white;
}

.alignment{
  border: 2px solid white;
  width: 4rem;
  height: 4rem;
  display: flex;
  border-radius: 8px;
}
.alignment > *{
  cursor: pointer;
  flex-grow: 1;
}
.alignment:hover{
  scale: 1.05;
}
.color{
  background-color: white;
}
.top{
  flex-direction: column;
}
.right{
  flex-direction: row-reverse;
}

.personalDetailsC{
  margin: 2rem 0;
  width: 85%;
  /* border: 2px solid white; */
  border-radius: 15px;
  padding: 1rem;
  background-color: #64647d;
}
.personalDetailsC h2{
  border-bottom: 3px solid white;
  padding: 5px ;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.personalDetailsC h3{
  margin: 1rem 0 0.3rem 0;
  padding-left: 0.2rem;
}
.personalDetailsC > *{
  width: 100%;
}
.personalDetailsC input{
  height: 1.9rem;
  border-radius: 7px;
  border: none;
  padding: 3px 0.5rem;
}
.educationC{
  width: 85%;
  /* height: 10rem; */
  /* padding: 1rem; */
  border-radius: 13px;
  background-color: #64647d;
  margin-top: 1rem;
}

.educationC h2{
 padding-bottom: 0.5rem;
/*  border-bottom: 3px solid white; */
 margin: 1rem 1rem 0;
 display: flex;
 align-items: center;
 gap: 0.5rem;
}
ul{
  margin-top: 0.5rem;
}
li{
  border-width:  4px 0 0 0  ;
  border-color:#363644 ;
  border-style: solid;
  /* background-color: #f3f4f7; */
  list-style: none;
  margin: 5px 0;
  display: flex;
  /* border-radius: 8px; */
}
li:last-child{
  border-bottom: 5px;
}

.education{
  width: 100%;
  padding: 0.9rem;
}
li img{
  cursor: pointer;
  margin-left: auto;
}
.btnC{
  border-top: 4px solid  #363644;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.btnC > button {
  padding: 0.5rem;
  border: none;
  border-radius: 6px;
}
.cancelBtn{
  background-color: #d9534f;
  color: white;
}

button:hover{
  scale: 1.03;
}
.educationFormC{
  padding: 1rem;
}
.educationFormC h3{
  padding: 0.5rem 0;
  color: white;
}
.educationFormC input{
  width: 100%;
  height: 1.9rem;
  border-radius: 7px;
  border: none;
  padding: 3px 0.5rem;
  margin-bottom: 0.3rem;
}
.dateC{
  display: flex;
  gap: 0.5rem;
}

.content > .resume.topAlign
{
  width: 59rem;
  height: 104.43rem;
  border: 2px solid white;
  background-color:white;
  display: flex;
  flex-direction:column;
}
.content> .resume.leftAlign{
  width: 59rem;
  height: 104.43rem;
  border: 2px solid white;
  background-color:white;
  display: flex;
  flex-direction:row;
}
.content >.resume.rightAlign{
  width: 59rem;
  height: 104.43rem;
  border: 2px solid white;
  background-color:white;
  display: flex;
  flex-direction:row-reverse;
}
.resume.topAlign > .accent{
  height: 11%;
  width: 100%;
  background-color: #0e374e;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.resume > .accent{
  height: 100%;
  width: 40%;
  background-color: #0e374e;
  padding: 3rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.resumeBody{
  padding: 2rem;
  flex-grow: 1;
}
.socials{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  /* border: 2px solid white; */
}
.resume.leftAlign .socials, .resume.rightAlign .socials{
  flex-direction: column;
}
.resume h1{
  text-align: center;
  margin-bottom: 0.5rem;
  
}
.resume.topAlign h3{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  padding: 0.2rem;
  color: white;
}
.resume.leftAlign .accent h3,.resume.rightAlign .accent h3{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  width: 100%;
  color: white;
  margin: auto;
  padding: 0.5rem 1rem;
}
.resume .resumeBody h2{
  padding: 0.2rem;
  text-align: center;
  color: #0e374e;
  width: 100%;
  background-color: #eff1f3;
  margin: 2rem 0;
}
/* .resumeBody h1,h2,h3,h4,h5,h6{
  color: black;
} */
.educationCR{
  width: 100%;
  display: flex;
}
.educationCRL{
  width: 35%;
}
.educationCRR{
  width: 65%;
}
.educationCRR h3{
  color: #24242d;
}
.accent i{
  margin-right: 0.5rem;
}
